<%- include ('../partials/header.ejs') %>

<div class="panel-heading"></div>

<div class="panel-body">

    <div class="row">
    <div class="col-md-2">
        <div class="list-group rooms">
            <a href="#" class="list-group-item disabled">
              Salas
            </a>
            <a href="#" class="list-group-item small">
                <span class="info-rom">Morbi leo risus</span> 
                <span class="badge">14</span>
                <div class="clearfix"></div>
            </a>
            <a href="#" class="list-group-item small">
                <span class="info-rom">Morbi leo risuss </span>
                <span class="badge">14</span>
                <div class="clearfix"></div>
            </a>
          </div>
    </div>

    <div class="col-md-10">
        <div class="list-group chats">
            <a href="#" class="list-group-item disabled">
                Chat >> <span class="room"></span>
              </a>
            
        </div>

        <form class="form-horizontal form-room" method="POST">

            <div class="form-group">

                <div class="col-md-10">
                    <input placeholder="Escrever mensagem" id="message" type="text" class="form-control" name="message" value="" required>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>

<%- include('../partials/footer') %>