<script src="/jquery-3.4.1.slim.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>


    chats = (data) => {
        return `
    <a href="#" class="list-group-item ">
                <p class="list-group-item-text">${data.message}</p>
                <span class="small">${data.user_name} | data: ${data.created_at}</span>
            </a>
    `
    }

    $(function () {

        const socket = io()

        $('.list-msg').fadeOut('show');

        let roomSelected = false;

        $('.rooms').on('click', 'a', function () {
            $('.rooms a').each((k, v) => {
                if (k > 0) {
                    $(v).removeClass('active')
                }
            })

            $('.room').text($(this).find('.info-rom').text())
            $(this).addClass('active')
            $('.list-msg').fadeIn('show');
            roomSelected = $(this).data('id')
            socket.emit('roomSelected', roomSelected)
            $('.chats').html('')
            $('.rooms').find(`#${roomSelected}`).find('.qtd-msg').html(0)
            socket.emit('viewAllMsg', roomSelected)
        })

        socket.on('sendAllMsg', data => {
            // console.log('msgs', data)
            data.forEach((v, k) => {
                $('.chats').append(chats({ message: v.message, created_at: v.created_at, user_name: v.user_name }))
            })
        })

        $('.form-room').submit(function () {
            let message = $('#message').val()
            let created_at = new Date()
            socket.emit('sendMsg', { id: socket.id, message, created_at, roomSelected, user_name: 'Cod' })
            $('#message').val('')
            return false;
        })

        socket.on('listMSG', data => {

            qtdMsg = $('.rooms').find(`#${data.roomSelected}`).find('.qtd-msg').html()

            if (data.roomSelected != roomSelected) {
                qtdMsg++
            }

            if (data.roomSelected == roomSelected) {
                $('.chats').append(chats(data))
            }
            $('.rooms').find(`#${data.roomSelected}`).find('.qtd-msg').html(qtdMsg)

        })
    })

</script>
</body>

</div>
</div>
</div>
</div>

</html>